.logo {

    a.litany {
        font-family: 'Dosis', sans-serif;
        font-weight: 100;
        font-size: 36px;
    }

    a.litany i {
        transition: text-shadow 1s;
    }

    a.litany:hover span {
        display:inline;
        opacity: .6;
        transition: opacity 2s;
    }

    a.litany:hover i {
        text-shadow: 0 0 6px rgba(101, 289, 227, .4);
    }

}